<h1> HOWDy </h1>

<form action="/goodybye">

  <label for ="zoey">Zebra</label>
  <input id ="zoey" type="text" name="zebra">

  <label for ="undyne">Unicorn</label>
  <input id ="undyne" type="text" name="unicorn">

  <button>Go to /goodbye </button>
</form>
