
<h1>
  Square Root Results
</h1>



<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @the_nums%>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
    <%= @the_results.to_f %>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>
